* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* here we started heading part */
header {
    width: 100%;
    height: 100%;
}
header .row {
    width: 100%;
    margin: 0 auto;
    /* position: fixed; */
    padding: 20px 40px;
    box-sizing: border-box;
    background-color: #fff;
}
header .row .row-small {
    width: 20%;
    float: left;
    display: flex;
}
header .row .row-small2 {
    width: 51%;
    float: right;
    display: flex;
}

@media (max-width: 767) {
    .row-small, .row-small2 {
        width: 100%;
        display: block;
    }
}
@media (min-width: 768) and (max-width: 1023) {
    .row-small, .row-small2 {
        width: 100%;
    }
}

header .row .row-small .logo-box{
    margin-right: 40px;
}
header .row .row-small .devices-box span {
    cursor: pointer;
}
header .row .row-small .logo-box h1 {
    font-size: 30px;  
    cursor: pointer;
}
header .row .row-small .devices-box #ver-line {  
    border: 1px solid grey;
    width: 20px;
    height: 30px;
    margin: 0 20px;
}

header .row .row-small2 {
    padding: 5px;
}

header .row .row-small2 p{
    font-size: 18px;
    margin-right: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
header .row .row-small2 a {
    padding-top: 6px;
    color: black;
    transition: .4s;
}
header .row .row-small2 a:hover {
    color: #4196e0;
}
header .row .row-small2 button {
    font-size: 16px;
    background-color: #4196e0;
    border-radius: 20px;
    padding: 10px 5px;
    color: #fff;
    border: none;
    width: 140px;
    height: 40px;
    cursor: pointer;
    margin-left: 40px;
}
header .row .row-small2 button:hover {
    background-color: #57a5e9;
    transition: .4s;
}

/* here we go with nav */



article .menu-container{
     overflow: visible;
     position: relative;

}

article .small-container {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    margin: 20px auto;
    display: flex;
}
article .small-container .logo{
    width: 20%;
    float: left;
    display: flex;
}
article .small-container .logo-img .radius{
    width: 40px;
    height: 5px;
    background-color: black;
}
article .small-container .logo-text {
    margin: 3px 0 0 10px;
    font-size: 20px;
    font-weight: bold;
}
article .small-container .navbar-menu {
    width: 50%;
    float: right;
    list-style-type: none;
    margin-left: 100px;
}
article .small-container .navbar-menu .nav-items {
    padding: 10px 0px;
    box-sizing: border-box;
    display: inline-block;

}
