* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* here we started heading part */
header {
    width: 100%;
    height: 100%;
}
header .row {
    width: 100%;
    margin: 0 auto;
    /* position: fixed; */
    padding: 20px 40px;
    box-sizing: border-box;
    background-color: #fff;
    
}
header .row .row-small {
    width: 20%;
    float: left;
    display: flex;
}
header .row .row-small2 {
    width: 51%;
    float: right;
    display: flex;
}

@media (max-width: 767px) {
    header .row .row-small, .row-small2 {
        width: 100%;
        display: block;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .row-small, .row-small2 {
        width: 50%;
    }
}

header .row .row-small .logo-box{
    margin-right: 40px;
}
header .row .row-small .devices-box span {
    cursor: pointer;
}
header .row .row-small .logo-box h1 {
    font-size: 30px;  
    cursor: pointer;
}
header .row .row-small .devices-box #ver-line {  
    border: 1px solid grey;
    width: 20px;
    height: 30px;
    margin: 0 20px;
}

header .row .row-small2 {
    padding: 5px;
}

header .row .row-small2 p{
    font-size: 18px;
    margin-right: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}
header .row .row-small2 a {
    padding-top: 6px;
    color: black;
    transition: .4s;
}
header .row .row-small2 a:hover {
    color: #4196e0;
}
header .row .row-small2 button {
    font-size: 16px;
    background-color: #4196e0;
    border-radius: 20px;
    padding: 10px 5px;
    color: #fff;
    border: none;
    width: 140px;
    height: 40px;
    cursor: pointer;
    margin-left: 40px;
}
header .row .row-small2 button:hover {
    background-color: #57a5e9;
    transition: .4s;
}

/* here we go with nav */



article .menu-container{
     overflow: visible;
     position: relative;

}
article .menu-container img{
    width: 100%;
    height: 80%;
    opacity: 0.8;
}

article .small-container {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    margin: 20px auto;
    display: flex;
}
article .small-container .logo{
    width: 10%;
    float: left;
    display: flex;
    cursor: pointer;
}
article .small-container .logo-img .radius{
    width: 40px;
    height: 5px;
    background-color: black;
}
article .small-container .logo-text {
    margin: 3px 0 0 10px;
    font-size: 20px;
    font-weight: bold;
}
article .small-container .navbar-menu {
    width: 60%;
    float: right;
    list-style-type: none;
    margin-left: 400px;
}
article .small-container .navbar-menu .nav-items {
    box-sizing: border-box;
    display: inline-block;
    padding: 10px 28px;
}
@media (max-width: 1024px) {
    article .small-container .navbar-menu .nav-items {
        display: block;
    }
}
article .small-container .navbar-menu .nav-items .nav-links {
    font: normal normal normal 14px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
    text-decoration: none;
    color: #2c4231;
}
article .small-container .navbar-menu .nav-items:first-child .nav-links{
    color: #9b4106;

}
article .small-container .navbar-menu .nav-items .nav-links:hover {
    color: #9b4106;
    transition: .3s;
}

article .mid-content {
    width: 700px;
    height: 400px;
    text-align: center;
    margin: 50px auto;
    padding: 50px 0;
    color: #2c4231;
    position: absolute;
    top: 20%;
    left: 25%;
}


article .mid-content p {
    font: italic normal normal 17px/1.4em adobe-caslon-w01-smbd,serif;
    color: #44593A;
    margin-bottom: 30px;
    animation: contnt 1s ease-in-out;
}
article .mid-content h2 {
    font-size: 55px;
    color: #44593A;
    font: italic normal normal 55px/1.4em adobe-caslon-w01-smbd,serif;
    font-weight: bold;
    word-spacing: 0.1em;
    animation: contnt 1.25s ease-in-out;

}
article .mid-content button {
    width: 180px;
    height: 60px;
    margin-top: 40px;
    border: 1px solid #44593A;
    color: #44593A;
    cursor: pointer;
    outline: none;
    background-color: initial;
    font-weight: 700;
    animation: contnt 1.5s ease-in-out;

}
article .mid-content button:hover {
    background-color: #44593A;
    color: #fff;
    transition: 0.3s;
}


@keyframes contnt {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

/*2nd section strats from here*/

figure {
    width: 100%;
    height: 340px;

}
figure #showcase {
    width: 100%;
    margin: 20px auto;
    height: 300px;
}
figure #showcase .row {
    width: 80%;
    margin: 50px auto;
    height: 100%;
}
figure #showcase .col-4 {
    width: 25%;
    float: left;
    height: 100%;
    margin: 0 40px;
}
figure #showcase .col-4 .card {
    width: 300px;
    height: 100%;
    text-align: center;

}
figure #showcase .col-4 .card hr {
    width: 10%;
    margin: 10px auto;
    border: 1px solid grey;

}
figure #showcase .col-4 .card .card-img {
    width: 100%;
    height: 70%;
    position: relative;
    cursor: pointer;
}
figure #showcase .col-4 .card .card-img img {
    width: 100%;
    height: 100%;
}
figure #showcase .col-4 .card .card-text {
    margin-top: 20px;
    /* font-size: 14px; */
    font: normal normal normal 11px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
    color: #44593A;
}
figure #showcase .col-4 .card .card-header {
    font: italic normal normal 22px/1.4em adobe-caslon-w01-smbd,serif;
    color: #44593A;
}

.dp-block {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
figure #showcase .col-4 .card .card-img:hover .dp-block{
    display: block;
}

/* main section */

main {
    width: 100%;
    min-height: 400px;
}
main .container {
    position: relative;
    width: 85%;
    margin: 0 auto;
    bottom: -100px;
    height: 400px;
    background-color: #44593A;
    color: #fff;
}
main .container h2 {
    text-align: start;
    padding: 60px 0 30px 60px;
    letter-spacing: 0.35em;
    font: normal normal normal 40px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
    animation: header 2s linear;
}
@keyframes header {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
main .container .text-part {
    width: 50%;
    font: normal normal normal 13px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
    letter-spacing: 0.1em;
    margin-left: 20%;
    margin-top: 50px;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 25%;
    position: absolute;
    line-height: 1.8;
}

main .image-part {
    width: 100%;
    height: 100%;
}
main .image-part img {
    width: 100%;
    height: 700px;
}

#feature {
    width: 100%;
    min-height: 400px;
}
#feature .wrap {
    width: 80%;
    height: 100%;
    margin: 40px auto;
}
#feature .wrap .col-6 {
    width: 50%;
    float: left;
    height: 100%;
}
#feature .wrap .col-6 .card {
    width: 100%;
}
#feature .wrap .col-6 .card h2 {
    font-size: 35px;
    letter-spacing: 0.35em;
    color: #44593A;
    font-family: sans-serif;
    margin-bottom: 60px;
    
}
#feature .wrap .col-6 .card p {
    color: #44593A;
    letter-spacing: 0.15em;
    font: italic normal normal 22px/1.4em adobe-caslon-w01-smbd,serif;

}
#feature .wrap .col-6 .card hr {
    width: 5%;
    margin: 20px 0 20px 2px;
    border: none;
    border-top: 1px solid black;
}
#feature .wrap .col-6 .card .small-box {
    display: flex;
}
#feature .wrap .col-6 .card .img-name img {
    cursor: pointer;
}
#feature .wrap .col-6 .card .img-name span {
    font-size: 18px;
}
#feature .wrap .col-6 .card input{
    display: block;
    width: 400px;
    height: 30px;
    margin-bottom: 5px;
    padding-left: 5px;
    border: 1px solid #2c4231;
    color: #44593A;
}
#feature .wrap .col-6 .card input:nth-child(4) {
    width: 400px;
    height: 120px;
    border: 1px solid #2c4231;
    /* padding: 0px 0 130px 5px; */
    padding-bottom: 80px;
    color: #44593A;
    
}

#feature .wrap .col-6 .card .submit-btn {
    text-decoration: none;
    color: #44593A;
    margin-top: 5px;
    margin-left: 65%;    
}
#feature .wrap .col-6 .card .submit-btn:hover {
    color: rgb(141, 43, 48);
}


/*footer section starts from here*/

footer {
    width: 100%;
    height: 160px;
    background-color: #44593A;
}
footer .footer-section {
    width: 80%;
    height: 100px;
    margin: 50px auto;
}
footer .footer-section .col-5 {
    float: left;
    width: 50%;
    padding: 50px 80px;
    color: #fff;

}
footer .footer-section .col-5 p {
    font: normal normal normal 14px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif;
    line-height: 3.6;
}
footer .footer-section .col-5 span {
    margin-left: 20px;
    float: right;
    line-height: 3.6;
    cursor: pointer;
}


